		@font-face {
			font-family: 'beautyregular';
			src: url('beautydemo-webfont.woff2') format('woff2'),
			url('beautydemo-webfont.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		span{
			font-family: 'beautyregular';
		}
		
		@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap');

		$border-color: #e0e0e0;
		
		label {
		  font-family: 'Bellota Text', sans-serif;
		  font-weight: 700;
		  /* Warning: no fallback */
		  background: -webkit-linear-gradient(-90deg, #00ffff 5%, #ff00dc 91%);
		  -webkit-background-clip: text;
		  -webkit-text-stroke: 2px transparent;
		  color: #232d2d; 
		  margin: auto;
		  /* padding-bottom: 50%; */
		  width: 100%;
		  font-size: 6vh;
		}

		p {
		  font-family: 'Play', sans-serif;
		  position: absolute;
		}
		
		.hide{
		  clip: rect(0 0 0 0);
		  height: 1px;
		  margin: -1px;
		  padding: 0;
		  position: absolute;
		  width: 1px;
		}

		.accordion{
		  background: #9c9c9c;
		  width: 300px;
		  border: 1px solid $border-color;
		  float: right;
		}

		.accordion-item{
			position: relative;
			width: 95%;
			border-bottom: 1px solid $border-color;
			&:last-child{
				border-bottom: none;
			}
		}

		.accordion-label{
			padding: 20px 0 20px 30px;
			width: 80%;
			display: block;
		  font-size: 18px;
		  text-align: right;
		  
		  &:hover{
			cursor: pointer;
		  }

			&:before{
			content: '';
			position: absolute;
			height: 5px;
			width: 5px;
			top: 22px;
			left: 12px;
			display: inline-block;
			border-left: 5px solid #999;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			}

			input[type=checkbox]:checked ~ &:before{
			transform: rotate(90deg);
			}
		}

		.accordion-child{
		  margin: 0;
		  overflow: hidden;
		  transition: all 0.3s ease;
		  
		  opacity: 0;
		  height: 0;
		  transform: scale(1,0);
		  transform-origin: center top;
		  
			input[type=checkbox]:checked ~ &{

			border: 1px solid $border-color;
			margin: 0 -20px 15px -20px;
			background: #fff;
			box-shadow: 0 3px 6px 1px rgba(0,0,0,0.16);
			  padding: 30px;
			
			height: auto;
			opacity: 1;
			transform: scale(1,1);
			
		  }
		} 