body{
	overflow: hidden;
}
img {
	opacity: 0;
}
a{
	text-decoration: none;
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
	opacity: 0;
  }
  100% {
    transform: translateY(0);
	opacity: 1;
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(70%);
	opacity: 0;
  }
  100% {
    transform: translateY(0);
	opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
	opacity: 0;
  }
  100% {
    transform: translateX(0);
	opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
	opacity: 0;
  }
  100% {
    transform: translateX(0);
	opacity: 1;
  }
}
@keyframes fadeInLogo {
  from {
	opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#center{
  margin: auto;
  width: 70%;
  padding: 20px;
}
.first {  
  animation: 1.5s ease-out 0s 1 slideInFromTop;
  animation-fill-mode: backwards;
  padding: 10px;
  opacity: 1;
}
.second {  
  animation: 1.5s ease-out 1s 1 slideInFromBottom;
  animation-fill-mode: backwards;
  padding: 10px;
  opacity: 1;
}
.third {  
  animation: 1.5s ease-out 2s 1 slideInFromTop;
  animation-fill-mode: backwards;
  padding: 10px;
  opacity: 1;
}
.last {  
  animation: 1.5s ease-out 3s 1 slideInFromBottom;
  animation-fill-mode: backwards;
  padding: 10px;
  opacity: 1;
}
.left {  
  animation: 1.5s ease-out 6s 1 slideInFromLeft;
  animation-fill-mode: backwards;
  padding: 10px;
  opacity: 1;
}
.right {  
  animation: 1.5s ease-out 6s 1 slideInFromRight;
  animation-fill-mode: backwards;
  padding: 10px;
  opacity: 1;
}
#logo {
  margin: auto;
  display: block;
  animation: 2s ease-out 6s 1 fadeInLogo;
  animation-fill-mode: backwards;
  opacity: 1;
  width: 25%;
}