.carousel
{
	position:relative;
	margin:0px;
	padding:0px;
	-moz-user-select:none;
	-webkit-user-select:none;
}


.carousel .carousel-item
{
	/*background-image:url(../img/bok.jpg);*/
	background-position:center;
	background-repeat:no-repeat;
	background-color:#FFF;
	position:absolute;
	cursor:pointer;
}


/*.carousel .out
{
	border:#DDD 2px solid;
}
*/

.carousel .over
{
	border:#DDD 2px solid;
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#000000')";
	
}


.carousel .click
{
	/*border:#DDD 2px solid;*/
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#000000')";
}


.carousel .select
{
	/*border:#DDD 2px solid;*/
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#000000')";
}


.carousel .tooltip
{
	position:absolute;
	z-index:9999;
	background-color:#DDD;
	margin-bottom:20px;
	/*border:#EEE solid 4px;*/
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}


.carousel .tooltip p
{
	color:#999;
	padding:10px;
	margin:0px;
}


