* {
	margin: 0;
	padding: 0;
	background: #333;
	overflow-x:hidden;
}
#footer{
	position: fixed;
	Width: 100%;
	bottom: 0; 
}
h1 {
	font-size: 2.5em;
	font-family: 'Audiowide', cursive;
	color: white;
}
h2{
	font: 2em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	color: white;
}
h3 {
	font-size: 1em;
	font-family: Segoe UI, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: white;
}
h6 {
	padding-top:5em;
	padding-bottom: .1em;
	font-size: 6em;
	font-family: 'Lato', sans-serif;
	color: white;
}
p {
	font-family: 'Play', sans-serif;
	color: white;	
}
a {
	text-decoration: none;
}
.tumblr {
	color: #007dff;
}
.devart {
	color: #05cc47;
}
.other {
	color: #e94c6f;
}
img{
	padding-top: 5px;
	padding-bottom: 5px;
}
@media (max-width: 966px){
	h1, h2, h3 {
		text-align: center;
	}
	p {
		padding-left:10px;
		font-size: 4vm;  
		font-size: 4vmin;
	}
	img {
		margin: auto;
		padding: auto;
		padding:0;
	}
}
@media (max-width: 750px){
	.full{
		width:100%;
		height:auto;
	}
}
@media (max-width: 450px){
	.top{
		width:100%;
		height:auto;
	}
}
@media (max-width: 414px){
	img{
		width: 100%;
		height: auto;
		padding:0;
	}

	p {
		left: 5px;
	}
}

h4{
	color: rgb(109,109,109);
	font-weight:100;
	font-family:Segoe, "Segoe UI Light", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 2.25em;
}
h4:hover{
	color: white;
	font-weight:100;
	font-family:Segoe, "Segoe UI Light", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 2.25em;
}
