html {
	-webkit-font-smoothing: antialiased !important;
}
body {
	position: relative;
	background: #152131;
	font-family: Questrial, Helvetica, Arial, sans-serif;
	font-family: 'EB Garamond', serif;
	font-size: 1.2em;
	line-height: 1.6;
	color: #525868;
	color: #818693;
	color: #c5ceda;
	margin: 0;
	padding: 10% 0 20px;
}
h1, h2, h3 {
	font-weight: normal;
	color: #414655;
	color: #c5ceda;
}
p {
	font-size: 1em;
}
a {
	color: #818690;
}
#wrapper {
	margin: auto;
	width: 800px;
	max-width: 100%;
}
#header {
	position: relative;
}
#header h4 {
	display: block;
	text-transform: uppercase;
	font-size: .8em;
	color: #52586A;
	padding: 0;
	margin: 0;
}
.feature {
	margin: 0;
}
.hello {
	font-size: 1.8em;
	line-height: 1.4;
	margin: 0;
}

@media (max-width:480px) {
body {
	margin: 0 5px;
	padding-top: 0;
}
#header h4 {
	font-size: .7em;
}
.hello {
	font-size: 1.4em;
	margin: 0;
}
p {
	font-size: 1em;
}
}