.video-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  @media(min-width: 600px) {
    height: 100%;
  }
}

video {
  object-fit: cover; // Set the magic
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}