body{
	overflow: hidden;
}
img {
	opacity: 0;
}
a{
	text-decoration: none;
}
@keyframes fadeInLogo {
  from {
	opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.center{
  margin: auto;
  width: 90%;
  padding: 20px;
}
.first {  
  animation: 2s ease-out 0s 1 fadeInLogo;
  animation-fill-mode: backwards;
  padding: 10px;
  opacity: 1;
}
.second {  
  animation: 2s ease-out 1s 1 fadeInLogo;
  animation-fill-mode: backwards;
  padding: 10px;
  opacity: 1;
}
.third {  
  animation: 2s ease-out 2s 1 fadeInLogo;
  animation-fill-mode: backwards;
  padding: 10px;
  opacity: 1;
}
.last {  
  animation: 2s ease-out 3s 1 fadeInLogo;
  animation-fill-mode: backwards;
  padding: 10px;
  opacity: 1;
}
.left {  
  animation: 2s ease-out 6s 1 fadeInLogo;
  animation-fill-mode: backwards;
  padding: 10px;
  opacity: 1;
}
.right {  
  animation: 2s ease-out 6s 1 fadeInLogo;
  animation-fill-mode: backwards;
  padding: 10px;
  opacity: 1;
}
#logo {
  margin: auto;
  display: block;
  animation: 2s ease-out 6s 1 fadeInLogo;
  animation-fill-mode: backwards;
  opacity: 1;
  width: 25%;
}