* {
	margin: 0;
	padding: 0;
}
body {
	background: #333;
}
#wrapper {
	width: 1350px;
	min-height: 575px;
	margin: 0 auto
}
#content {
	width: 900px;
	min-height: 575px;
	margin: 0 auto
}
#grid {
	width: 1080px;
	margin: 0 auto;
	overflow: auto;
}
ul {
	list-style-type: none;
}
li img {
	float: left;
	margin: 15px;
	border: none;
	-webkit-transition: box-shadow 0.5s ease;
	-moz-transition: box-shadow 0.5s ease;
	-o-transition: box-shadow 0.5s ease;
	-ms-transition: box-shadow 0.5s ease;
	transition: box-shadow 0.5s ease;
}
li img:hover {
	-webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
	box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}
#logo:hover {
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
}
#left {
	margin: 15px;
	float: left;
}
#right {
	margin: 15px;
	float: right;
}
h1 {
	font-family: 'Audiowide', cursive;
	color: white;
	text-align: center
}
#text {
	left: 550px;
	width: 500px;
	position: absolute;
	top: 555px;
}
#result {
	color: white;
	font-family: 'Play', sans-serif;
}
#drop-box1 {
	border: 1px solid white;
	height: 150px;
	width: 150px;
	position: relative;
	float: left;
	display: inline-block;
}
#drop-box2 {
	border: 1px solid white;
	height: 150px;
	width: 150px;
	position: relative;
	float: right;
	display: inline-block;
}
drop1 {
	display: block;
}
drop2 {
	display: block;
}
h3 {
	color: white;
	font-weight: 100;
	font-family: Segoe, "Segoe UI Light", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 5vm;
	font-size: 5vmin;
	text-decoration: none;
}
a {
	text-decoration: none
}

@media (max-width: 1024px) {
img {
	width: 100px;
	height: 100px;
	padding: 1.5px;
}
#grid {
	width: 800px;
}
#drop-box1 {
	height: 100px;
	width: 100px;
}
#drop-box2 {
	height: 100px;
	width: 100px;
}
}
