html {
	background: -webkit-linear-gradient(rgb(93, 93, 93), rgb(45, 45, 45)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(93, 93, 93), rgb(45, 45, 45)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgb(93, 93, 93), rgb(45, 45, 45)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgb(93, 93, 93), rgb(45, 45, 45)); /* Standard syntax */
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
}
img{
	width: 67%;
	height: 67%;
	display:block;
	float:left;
	padding-left: 15%;
}
#wrapper {
    width: 100%;
	height: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
div {
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}
.h1 { position:relative; }
.h2 { position:relative; }
.h3 { position:relative; }
h1{
	color: rgb(109,109,109);
	font-weight:100;
	font-family:Segoe, "Segoe UI Light", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
h1:hover{
	color: white;
	font-weight:100;
	font-family:Segoe, "Segoe UI Light", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
#back {
	position:absolute;
	bottom: -15px;
	right: -110;
}