@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');
html {
	width:100%;
	height:100%;
	overflow: hidden;
}
body {
	background: url(../img/bio_s7.png);
	background-color: #160024;
	background-size: 100%;
	max-width: 104%;
    max-height: 100%;
    height: auto;
	background-repeat: no-repeat;
	margin: auto;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
}

#bio{
	
}
img {
	border: 0;
	padding: 1%;
}
h1 {
  font-family: 'Audiowide', cursive;
  font-weight: 800;
  color: #D4AF37;
  text-shadow:0 0 2px #232d2d;
  margin: auto;
  left: 10vh;
  width: 100%;
  font-size: 5vh;
  padding-left: 9vh;
}


p {
  top: 5vh;
  font-family: 'Bellota Text', sans-serif;
  color: white;
  width: 24%;
  position: absolute;
  padding-left: 6%;
  font-size: 2.5vh;
}