body {
    background: url(../img/background.png);
	max-height:100%;
	max-width: 100%;
}

img {
    max-width:50%;
    max-height:50%;
}

a {
	text-decoration:none;
}
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding-left: 1.5%;
}
#choose {
	/* position: absolute; 
	z-index: 10;*/
	padding-top: 15%;
}
.column img {
	max-width:80%;
    max-height:80%;
}
#choose h1{
	font-size: 4vh;
	color: rgb(109,109,109);
	font-weight:100;
	font-family:Segoe, "Segoe UI Light", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	line-height: 5.5vh;
}

#choose h1:hover{
	color: white;
	font-weight:100;
	font-family:Segoe, "Segoe UI Light", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;

}
#back {
	bottom: 0;
	right: -110;
}